/* https://coolors.co/ff6f61-f4a460-965a38-00ced1-000000 */
/* https://coolors.co/visualizer/ff6f61-f4a460-965a38-00ced1-000000 */

body {
    margin: auto;
}

header,
nav,
main,
footer {
    font-family: 'Lato', 'Noto Sans', 'Rubik', sans-serif;
}

header,
footer {
    margin: 10px;
    padding: 5px;
    align-items: center;
    background-color: #ff6f61;
    border: 2px solid #000000;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100%;
    max-width: 200px;
    margin: auto;
    background-color: snow;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 100px #F4A460;
}

.active::before {
    content: "🛵";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    background-color: #00ced1;
    color: black;
    font-weight: 700;
}

.open a {
    display: block;
}

hr {
    width: 20%;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid black;
}

main {
    grid-template-columns: 1fr;
    /* Change to a single column layout for smaller screens */
}

.social-section,
.weather-section {
    grid-column: 1;
    /* Place social-section and weather-section in the first column for smaller screens */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Rentals Page CSS */

#rentalPage {
    width: 57%;
    padding: 2px;
    margin: auto;
    text-align: center;
}

#rentalPage hr {
    width: 40%;
    margin: auto;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #000000;
    padding: 4px;
    text-align: center;
    background-color: #00ced1;
}

th {
    background-color: #F4A460;
}

.social-icons {
    text-align: center;
}

.social-icon a {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 50px;
    background-color: white;
    height: auto;
}

/* Reserve Page CSS */
#reservePage {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    padding: 10px;
}

#reservePage h2 {
    border: solid 2px #000;
    background-color: #F4A460;
}

.rentForm:root {
    --background-color: #eee;
    --border-radius: 6px;
    --border-left-width: thick;
}

#rentLeft,
#rentRight {
    border: solid 1px #000;
    border-radius: var(--border-radius);
    padding: 10px;
}

#rentLeft li {
    padding: 10px;
}

.rentForm {
    padding: 5px;
}

.rentForm label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

.rentForm input[type="text"],
.rentForm input[type="password"],
.rentForm input[type="email"],
.rentForm input[type="tel"] {
    background-color: var(--background-color);
    display: block;
    border: solid 1px #888;
    border-radius: var(--border-radius);
    padding: .50rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 3px;
}

.rentForm input[type="range"] {
    margin-right: 6px;
}

.rentForm input[type="submit"] {
    border: none;
    background-image: linear-gradient(#00ced1, #F4A460);
    color: #000;
    border-radius: var(--border-radius);
    padding: .8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

.submitbutton:hover {
    cursor: pointer;
}

#thankyouPage p {
    margin: auto;
    padding: 10px;
    text-align: center;
}