/* https://coolors.co/ff6f61-f4a460-965a38-00ced1-000000 */
/* https://coolors.co/visualizer/ff6f61-f4a460-965a38-00ced1-000000 */

body {
    margin: auto;
}

header,
footer {
    margin: 10px;
    padding: 5px;
    align-items: center;
    background-color: #ff6f61;
    border: 2px solid #000000;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100%;
    max-width: 200px;
    margin: auto;
    background-color: snow;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 100px #F4A460;
}

.active::before {
    content: "🛵";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.navigation a:hover {
    background-color: #00ced1;
    color: black;
    font-weight: 700;
}

.open a {
    display: block;
}

hr {
    width: 20%;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid black;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Rentals Page CSS */

#rentalPage {
    width: 57%;
    padding: 2px;
    margin: auto;
    text-align: center;
}

#rentalPage hr {
    width: 40%;
    margin: auto;
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #000000;
    padding: 4px;
    text-align: center;
    background-color: #00ced1;
}

th {
    background-color: #F4A460;
}