@media screen and (min-width:700px) {

    /* Navigation menu */
    .navigation {
        flex-direction: row;
        list-style: none;
    }

    .navigation a {
        border: solid 2px #000;
        margin: 5px;
        text-decoration: none;
        color: #000;
        background-color: #F4A460;
        padding: 10px;
        font-size: large;
        text-align: center;
        display: block;
    }

    #container-home {
        width: 90%;
        display: grid;
        grid-template-columns: auto 1fr;
        /* Left side takes up auto width, right side takes up remaining space */
        gap: 20px;
        /* Gap between columns */
    }

    .cta-button {
        margin-left: 10px;
    }

    section {
        margin: 10px;
        padding: 10px;
        border: solid 2px #000;
    }

    h2 {
        border: solid 2px #000;
        background-color: #F4A460;
        padding: 5px;
    }

    main {
        display: grid;
        grid-template-columns: auto 1fr;
        /* Two columns: one for rental-section and one for social-section & weather-section */
        grid-gap: 20px;
        /* Adjust the gap between grid items */
    }

    .rental-section {
        grid-column: 1;
        /* Place rental-section in the first column */
    }

    .social-section,
    .weather-section {
        grid-column: 2;
        /* Place social-section and weather-section in the second column */
    }
}