@media screen and (min-width: 1000px) {
    body {
        max-width: 1000px;
    }
 
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
    
    section:nth-child(3) {
        grid-column: span 1;
    }
}