body {
    margin: 0 auto;
}

header,
nav,
main,
footer {
    font-family: 'Roboto Slab', 'Vollkorn', 'Pathway Extreme', sans-serif;
}

header,
footer {
    background-color: #3f2894;
    text-align: center;
    color: #fffafa;
    border: 2px solid #000000;
}

header {
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

header img {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    background-color: snow;
    border: 2px solid black;
}

header h1 {
    padding: 5px;
}

.vertical-line {
    display: none;
}

.active::before {
    content: "👉";
}

nav a {
    text-decoration: none;
    color: snow;
    padding: 5px;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖️";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: snow;
    color: black;
    font-weight: 700;
}

.open a {
    display: block;
}

#container-home {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
    width: 90%;
    font-weight: bold;
}

.hero {
    margin: auto;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
    background-color: snow;
    /* display: block; */
    /* border: 2px solid black; */
}

#container-home button {
    position: absolute;
    top: 10px;
    left: 120px;
    background: radial-gradient(#fafbfd, rgb(86 181 242));
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 0.5rem;
    opacity: 0.75;
    cursor: pointer;
}

#container-home button:hover {
    background: radial-gradient(#fafbfd, rgb(67, 143, 189));
}

#container-home button p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1rem;
}

#mode {
    top: 1rem;
    left: 1rem;
    padding: 1px;
    margin: 3px;
    font-size: 1.5rem;
    cursor: pointer;
}

.banner {
    width: 90%;
    position: relative;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

section {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
}

section img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

/* This is the line separator under the h2 */
hr.separator {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 5px;
    width: 70%;
}

/* This is the line separator under the h2 */
hr.weather-separator {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 5px;
    width: 70%;
}

/* This is the line separator under the h2 */
hr.event-separator {
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 40px;
    background-color: white;
    height: auto;
}

#spotlights {
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    max-width: 90%;
    height: auto;
}

/* Define styles for spotlight sections */
.spotlight-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

/* Define grid layout for spotlight sections */
.spotlight-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

/* Adjust layout for mobile devices */
@media (max-width: 550px) {
    .spotlight-grid {
        grid-template-columns: 1fr;
    }
}

/* Styles for the thankyou page. */
#thankyouPage {
    margin: auto;
    text-align: center;
    padding: 3rem;
}