@media screen and (min-width:550px) {
    body {
        max-width: 700px;
    }

    nav {
        display: flex;
        flex-direction: row !important;
        justify-content: space-evenly;
    }

    #main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    main img {
        height: 300px;
        margin: auto;
        background-color: snow;
        display: block;
        /* border: 2px solid black; */
    }

    .stuff {
        margin: 1rem auto;
    }
}