@media screen and (min-width:700px) {
    body {
        max-width: 80%;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }

    .header-left {
        display: flex;
    }

    #mode {
        position: relative;
        top: 0rem;
        left: 0rem;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .vertical-line {
        display: block;
        width: 2px;
        height: 100px;
        background-color: #000;
        margin: 0 20px;
    }

    .header-right {
        display: flex;
        margin: auto;
    }

    nav {
        display: flex;
        flex-direction: row !important;
        justify-content: space-evenly;
    }

    #container-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #container-home .hero {
        grid-column: 1/4;
        height: 300px;
        width: 100%;
        margin: 0px;
    }

    .events {
        grid-column: 1/3;
    }

    .weather {
        grid-column: 3/3;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }
}

/* Discover Page CSS */

#container-discover {
    display: grid;
    /* Two columns for larger screens */
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.place {
    grid-column: 1;
    text-align: center;
    margin: auto 10px;
    padding: 10px;
}

#container-discover img {
    grid-column: 2;
    /* Make sure the image doesn't exceed its container */
    max-width: 100%;
    /* Maintain aspect ratio */
    height: auto;
    margin-top: 10px;
}

/* Join Page CSS */
@media screen and (min-width: 700px) {
    #joinPage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        margin: auto;
        padding: 10px;
    }
}

.joinForm:root {
    --background-color: #eee;
    --border-radius: 6px;
    --border-left-width: thick;
}

#joinLeft,
#joinRight {
    border: solid 1px #000;
    border-radius: var(--border-radius);
    padding: 10px;
}

.joinForm {
    padding: 5px;
}

.joinForm label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

.joinForm input[type="text"],
.joinForm input[type="password"],
.joinForm input[type="email"],
.joinForm input[type="tel"] {
    background-color: var(--background-color);
    display: block;
    border: solid 1px #999;
    border-radius: var(--border-radius);
    padding: .50rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
    margin-top: 3px;
}

.joinForm input[type="range"] {
    margin-right: 6px;
}

.joinForm input[type="submit"] {
    border: none;
    background-image: linear-gradient(#3f2894, #3f2894);
    color: #fff;
    border-radius: var(--border-radius);
    padding: .8rem;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 96%;
    max-width: 400px;
    /* margin: -1rem 2% 2rem 2%; */
    box-shadow: 1px 1px 4px #999;
}

.joinForm input:required {
    border-left-color: #ff0000;
    border-left-width: var(--border-left-width);
}

.joinForm input:required:valid {
    border-left-color: green;
    border-left-width: var(--border-left-width);
}

#membershipLevel {
    margin-top: 3px;
}

@media (min-width: 551px) {

    /*Make image larger on hover over*/
    .hover:hover {
        /* 1.25 means 125% of the original size (i.e. 25% larger) */
        transform: scale(1.15);
        /* Optional for smooth scaling */
        transition: transform 0.3s ease;
    }
}

@media (max-width: 550px) {

    /* For screens 550px and below, switch to a single column layout */
    #container-discover {
        display: block;
        /* Makes the grid a single column in mobile view */
        grid-template-columns: 1fr;
    }
}