@media screen and (min-width:700px) {
    body {
        max-width: 100%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #3f2894;
        color: #fffafa;
        padding: 10px 20px;
        border: 2px solid #000000;
        position: relative;
    }

    /* Left section of the header */
    .header-left {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    /* Dark mode button */
    #mode {
        font-size: 1.5rem;
        cursor: pointer;
    }

    /* Logo and chamber name */
    .header-left img {
        max-width: 100px;
        max-height: 100px;
        margin: 10px;
    }

    .header-left h1 {
        margin-left: 10px;
        font-size: 1.3em;
    }

    /* Vertical line separator */
    .vertical-line {
        border-left: 2px solid #000;
        height: 100px;
        margin: auto;
        display: block;
    }

    .header-right {
        display: flex;
        margin-right: auto;
    }

    /* Navigation menu */
    .navigation {
        flex-direction: row;
        list-style: none;
    }

    .navigation a {
        text-decoration: none;
        color: snow;
        padding: 10px;
        font-size: medium;
        text-align: center;
        display: block;
    }

    /* Active page indicator */
    .active::before {
        content: "👉";
    }

    #container-home {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #container-home .hero {
        grid-column: 1/4;
        height: 200px;
        width: 90%;
        margin: auto;
    }

    .events {
        grid-column: 1/3;
    }

    .weather {
        grid-column: 3/3;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .stuff {
        margin: 1rem auto;
    }

    /* Define styles for spotlight sections */
    .spotlight-section {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        max-width: 100%;
    }

    /* Define grid layout for spotlight sections */
    .spotlight-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    /* Adjust layout for mobile devices */
    @media (max-width: 550px) {
        .spotlight-grid {
            grid-template-columns: 1fr;
        }
    }
}