body {
    display: grid;
    margin: 0 auto;
}

header, nav,  main, footer {
    padding: 1px;
    font-family: 'Roboto Slab', 'Vollkorn', 'Pathway Extreme', sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

header img {
    max-width: 70px;
    display: block;
    border: 2px solid black;
}

nav {
    display: grid;
    grid-template-rows: auto;
    background-color: black;
    text-align: center;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: snow;
    padding: 5px;
}

main {
    margin: auto;
    margin-bottom: 5px;
    display: grid;
    grid-column: 1/2;
    width: 90%;
    font-weight: bold;
}

.card {
    border: 2px solid black;
    margin: 5px;
    border-radius: 5px;
}

h2, h3, p {
    text-align: center;
}

hr.separator {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 5px;
    width: 100%;
}

h2 {
    margin-bottom: 0;
    padding: 1px;
}

h3 {
    background-color: darkred;
    margin: 0;
    padding: 3px;
    color: snow; 
}

ul {
    margin: 0;
    padding: 10px;
}

li {
    list-style: none;
    padding: 3px;
}

li a {
    color: blue;
}

header, footer {
    background-color: darkred;
    text-align: center;
    color: snow;
    border: 2px solid black;
}

.lastMod {
    color: yellow;
}

/* #menu {
	font-size: 1.5rem;
	border: 2px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: darkred;
	color: snow;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖️";
}

.active::before {
    content: "🍕";
}

.active::after {
    content: "🍕";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.navigation a:hover {
	background-color: snow;
	color: black;
	font-weight: 700;
}

.open a {
	display: block;
}

iframe {
    max-width: 400px;
    max-height: 350px;
    display: block;
    border: 2px solid black;
} */