body {
    margin: auto;
    width: 35%;
}

header, nav,  main, footer {
    margin: auto;
    padding: 1px;
    font-family: 'Roboto Slab', 'Vollkorn', 'Pathway Extreme', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 100px auto;
    text-align: center;
    grid-column-gap: 50px;
    padding: 5px;
}

header img {
    margin: 10px;
    max-width: 125px;
    border: 2px solid black;
}

header nav {
    background-color: black;
    text-align: center;
}

main {
    width: 90%;
}

h2, h3, p {
    text-align: center;
}

h3 {
    background-color: darkred;
    border: 2px solid black;
    padding: 3px;
    color: white;  
}

header a {
    color: snow;
    text-decoration: none;
}

ul {
    border: 2px solid black;
    padding: 10px;
}

li {
    list-style: none;
    padding: 3px;
}

li a {
    color: blue;
}

header, footer {
    background-color: darkred;
    text-align: center;
    color: snow;
    border: 2px solid black;
}

.lastMod {
    color: yellow;
}