:root {
    --background-color: #eee;
    --border-radius: 6px;
    --border-left-width: thick;
}

.feedback {
    padding: 5px;
}

.feedback label {
    display: block;
    padding-top: 1rem;
    color: darkred;
    font-size: .9rem;
}

.feedback input[type="text"],
.feedback input[type="password"],
.feedback input[type="email"] {
    background-color: var(--background-color);
    display: block;
    border: solid 1px #999;
    border-radius: var(--border-radius);
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.feedback input[type="range"] {
    margin-right: 6px;
}

.feedback input[type="submit"] {
    border: none;
    background-image: linear-gradient(darkred, rgb(117, 0, 0));
    color: #fff;
    border-radius: var(--border-radius);
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    /* margin: -1rem 2% 2rem 2%; */
    box-shadow: 1px 1px 4px #999;
}

.feedback input:required {
    border-left-color: #ff0000;
    border-left-width: var(--border-left-width);
}

.feedback input:required:valid {
    border-left-color: green;
    border-left-width: var(--border-left-width);
}

/* Style for the paragraph on the record page */
.thankYou {
    padding: 100px;
}